.body{
    margin: 0;
    padding: 0;
}

.container{
    border: 4px solid black;
    width: 320px ;
    height: auto;
    margin: 0 auto;
    background-color: rgb(224, 208, 208);   
}

.name{
margin: 10px;
font-size: 52px;
color: rgb(34, 34, 82);
font-weight: bold;
margin-bottom: 5px;
}
.screen{
    border: 2px solid black;
    margin: 5px;
    width: 300px ;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
    margin-bottom: 30px;
    color:black;
    font-weight: bold;
}
.screen:hover{
    cursor: pointer;
}
.btn{
    font-weight: bold;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(245, 100, 48);
}

.btn:hover{
    cursor: pointer;
}

.btn1{
    width: 40px;
    height: 30px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(75, 70, 155);
    font-weight: bold;
}
